.git
.gitignore
.dockerignore
.env
.env.*
*.log
*.pyc
__pycache__
.pytest_cache
.coverage
htmlcov
.tox
.hatch
*.egg-info
dist
build
eggs
.eggs
*.egg
.cache
*.swp
.DS_Store
Thumbs.db
node_modules
staticfiles
media
.vscode
.idea
*.mo
.*.swp
venv
.venv
env
